body { background-color:black;
    color:white;
    text-align:center;}

a { color: white;
text-decoration: none;
margin:10px;
text-align:center;}

a:hover { color: orange;
opacity: 0.7;}

h1{ text-align: left;
margin-left:25px;}